# Python
__pycache__/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/
env/
.env
.env.production

# IDEs and editors
.vscode/
.DS_Store

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfvars